$backgroundColor: #F6E5CA;
$mainColor: #E7BB73;
$secondColor: #DD6031;
$specialColor: #531CB3;
$secondSpecialColor: #198A84;
$shadowColor: rgb(216, 214, 214);

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(15deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(14deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(16deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(15deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(16deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(14deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(15deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(14deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(16deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(15deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(14deg);
  }
}

@mixin basic-link {
  text-decoration: none;
  &:hover {
    color: $specialColor;
    transform: scale(1.1);
  }
}

@mixin basic-flex {
  display: flex;
  gap: 5%;
  flex: 1 0;
}

@mixin specialText {
  color: $specialColor;
  font-weight: 700;
  &:hover {
    transform: scale(1.2);
    color: $secondColor;
  }

}

@mixin card {
  box-shadow: 2px 2px $shadowColor;
  border-radius: 10px;

}

.special-text {
  @include specialText();
}

body {
  background-color: $backgroundColor;
}

nav {
  background-color: $secondColor;
}

.nav-bar-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 1.6rem;
  font-weight: 700;
}

.navbar-left {
  @include basic-flex();


  justify-content: start;

}

.navbar-right {
  @include basic-flex();
  justify-content: end;
}

.nav-link {
  color: $backgroundColor;
  text-decoration: none;
  &:hover {
    color: $specialColor;
    transform: scale(1.1);
  }

}

.hero {
  width: 75%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5%;

}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  border-left: 2px solid black;
  position: relative;
  padding-top: 2rem;
  color: #247F79;
  font-weight: 700;
  margin: 0;
}


.hero-text p,
h1,
h3 {
  margin: 0;
  padding: 0;
}

.hero-text p:last-of-type {
  font-size: 2rem;
}

.hero-text h1 {
  font-size: 8rem;
}

.hero-text p {
  margin-left: 10%;
}

.looking-for-work {
  position: absolute;
  top: 0;
  right: 10%;
  margin: 0;
  width: 11rem;
  word-wrap: normal;
  text-align: center;
  background-color: #FF6B6B;
  color: $backgroundColor;
  font-size: 2rem;
  @include card();
  transform: rotate(15deg);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.looking-for-work:hover {}

.looking-for-work h3 {
  margin: 0;
}

.img-certification {
  display: flex;
  align-items: center;
}

.img-certification:hover {
  transform: scale(1.2);

}

.img-certification img {
  max-width: 100%;
  max-height: 100%;
}

.how-i-got-to-code {
  background-color: #DD6031;

}

.card-text-container {
  width: 75%;
  margin: auto;
  display: flex;
  text-align: center;
  gap: 6%;
  justify-content: center;
  padding: 2% 0;
}

.card-text {
  width: 85%;
  background-color: #E7BB73;
  @include card();
  box-shadow: 4px 4px #DEA13F;
  color: #9E3D1A;
  font-weight: 700;
  padding: 2% 4%;
}

.card-text h3 {
  font-size: 1.5rem;
}
.tech {}

.technologies {
  width: 75%;
  margin: auto;
  padding: 4% 0 8%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 2%;
  flex-shrink: 1;

}

.technologies h3 {
  grid-column: span 3;
  text-align: end;
  font-size: 3rem;
  font-weight: 700;
  padding: 0 4% 2% 0;
  color: #9E3D1A;
}

.project-container {
  text-align: center;
  background-color: #E7BB73;
  @include card();
  box-shadow: 4px 4px #DEA13F;
  position: relative;
  padding: 4% 2% 6%;
}


.project-container h3 {
  padding: 2% 4%;
  text-align: center;
  color: #DD6031;

  font-size: 2rem;

}
.technologies-container {
  width: 90%;
  padding-bottom: 6%;
  margin: auto;
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  gap: 2%;

}

.button-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  gap: 5%;

}
// 531CB3
.button {
  background-color: #531CB3;
  box-shadow: 4px 4px hsl(262, 82%, 23%);
  gap: 2%;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  padding: 2% 3% 3% 5%;
  align-items: flex-end;
}

.button:hover {
  transform: translateY(-5px);
}

.button:active {
  transform: translateY(-2px);
}

.button a {
  color: white;
  text-decoration: none;

}


.technologies-container p {
  background-color: #198A84;
  box-shadow: 2px 2px #105653;

  color: #F6E5CA;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 2% 1%;
  margin: 2%;
}

.technologies-container p:hover {
  transform: translateY(-5px);
}

.project-container h3 {
  color: #DD6031;
}

.project-container a {
  text-decoration: none;
}

.section-display {
  background-color: #DD6031;
  padding: 4% 0;
}

.display-project {
  width: 75%;
  margin: auto;
}

.project-preview {
  border-radius: 10px;

}

.projects {
  background-color: #DD6031;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  padding: 4% 0;
}

.project-cards {
  background-color: #E7BB73;
  border-radius: 10px;
  color: #9E3D1A;
  font-weight: 700;
  padding: 2% 6% 4%;
}

.project-cards h3 {
  font-size: 2rem;
  text-align: center;
}

.container {
  display: flex;
  gap: 5%;
  padding-top: 4%;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 1.3rem;

}

.container a {
  width: 50%;
}

.project-image img {
  height: auto;
  width: 500px;
  max-width: 100%;
  min-width: 300px;

}

.project-image img:hover {
  transform: translateY(-10px);
}

.more-details {
  text-decoration: none;
  color: #531CB3;


}

.more-details:hover {
  color: #DD6031;
}

footer {
  display: flex;
  align-items: center;
  padding: 2%;

}

.footer-container a {
  text-decoration: none;
  font-weight: 700;
}

.footer-container a:hover {
  transform: translateY(-5px);
}

.footer-container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: end;
  font-size: 1rem;
  gap: 2%;
  align-items: center;

}

@media only screen and(max-width: 900px) {
  .project-image img {
    display: none;
  }
}
